<div class="bg-[#FFF] flex items-center justify-between w-full py-3 px-4">

    <!-- left-side -->
    <div>
        <div class="flex items-center justify-center gap-4">
            <div class="bg-[#F2F2F2] w-10 h-10 rounded-md flex justify-center items-center">
                <img src="assets/images/icons/hamburger.svg" alt="Menu" lazyload/>
            </div>
            <div>
                <img src="assets/images/icons/search_icon.svg" alt="Search" lazyload/>
            </div>
        </div>
    </div>

    <!-- center -->
    <div>
        <div class="flex items-center justify-center">
            <img src="assets/images/icons/fixparts_logomark.svg" alt="FixParts_LogoMark" lazyload/>
        </div>
    </div>
    
    <!-- right-side -->
    <div>
        <div class="flex items-center justify-center gap-4">
            <div>
                <img src="assets/images/icons/cart_icon.svg" alt="Cart" lazyload/>
            </div>
            <div>
                <img src="assets/images/icons/user_icon.svg" alt="User" lazyload/>
            </div>
        </div>
    </div>

</div>